body{
    background-color: rgb(228, 207, 200) !important; 
}

nav{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(179, 42, 21) 100%);
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }

  .navbar-nav > li > a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  .fa-gavel{
    /*transform: rotate(270deg);*/
    color: white;
    margin: 5px;
    animation-name: martillo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes martillo {
    from {
        
    }
    to {
        transform: rotate(-90deg)
    }
}

.bar:hover{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black, 0.1em 0.1em 0.1em white, 0.2em 0.2em 0.2em white;
    transform: scale(.98, 1.1);
}

.slider{
    width: 100%;
}

.separateTopButton{
    padding: 20px 0;
}

h2{
    padding: 15px 0;;
}

.iconoContenido{
    color: black;
    font-size:50px;
    margin-right: 10px;
}

div p{
    text-align: justify;
}

/* footer */

footer{
    background: linear-gradient(180deg, rgba(179, 42, 21) 0%, rgb(0, 0, 0,1) 100%);
    padding: 20px 0;
}

footer a, footer a:hover{
    text-decoration: none;
    color: white;
    
}

footer li{
    list-style: none;
}


.pie{
    color: white;
}

.pie ul{
    margin:0;
    padding: 0;
}

.pie i{
    padding-right: 5px;
}

/* Formulario */

.btn{
    justify-content: center;
    align-content: center;
}

.btn-info.custom-btn {
	background: linear-gradient(180deg, rgba(179, 42, 21) 0%, rgb(0, 0, 0,1) 100%);
    border-color: black;
}

form{
    padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    *{
        font-size: 0.98em;
    }
    #carouselWeb {
      display: none;
    }
    header{
        margin-top: 50px;
    }
    .pie{
        padding: 10px 0;
    }
  }